itsdangerous
discord.py==2.7.1
requests==2.34.2
python-dotenv==1.2.2
asyncpraw==8.0.2
aiohttp==3.14.1
asyncpg==0.31.0
pytz==2026.2
parsedatetime==2.6
openai==2.45.0
pydantic==2.13.4
motor==3.7.1
apscheduler==3.11.3
PyYAML>=6.0
loguru==0.7.3
pydantic_settings>=2.14.2
redis[hiredis]>=5.0.1